* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: rgb(237, 225, 235);
    background: linear-gradient(90deg, rgba(237, 225, 235, 1) 0%, rgba(215, 231, 251, 1) 27%, rgba(248, 236, 246, 1) 56%, rgba(225, 238, 255, 1) 77%, rgba(243, 230, 241, 1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

span {
    font-size: 1rem;
    font-weight: bolder;
}

p {
    font-size: 1rem;
}

/* Centered text */
.center {
    text-align: center;
}

/* Container */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Heading */
.heading {
    width: 100%;
    padding: 1rem 0;
    font-size: 2.5rem;
    font-weight: 700;
    color: #333;
    text-align: center;
}

/* Input field */
.input {
    width: 40rem;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    border: 1px solid #555;
    border-radius: 5px;
    outline: none;
    transition: border 0.3s;
    margin: 1rem 0;
    border: none;
    border-bottom: 2px solid #970079;
}

.input:focus {
    border-color: #007bff;
}

/* Card container */
ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    padding: 2rem 0;
    width: 100%;
    max-width: 1200px;
}

/* Pokemon card */
.pokemon-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    text-align: center;
    transition: transform 0.3s;
}

.pokemon-card:hover {
    transform: scale(1.05);
}

/* Background for figure */
.background {
    background-image: url("../src/assets/graph.png");
    background-size: 330px;
    background-position: center;
    object-fit: cover ;
}

/* Pokemon image */
.pokemon-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 0.5rem;
}

/* Pokemon name */
.pokemon-name {
    font-size: 1.2rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 0.5rem;
    margin: .6rem 0;
}

/* Pokemon info */
.pokemon-info {
    margin: 0.2rem 0;
    color: #666;
}

.pokemon-info span {
    font-weight: 500;
    color: #333;
    margin-top: .5rem;
}

.poke-data {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 0.5rem;
}

/* Highlight section */
.pokemon-highlight > p {
    background-color: #01ba23;
    color: white;
    border-radius: 5px;
    padding: 0.2rem 0 .4rem 0 ;
    width: 50%;
    border-radius: 1.5rem;
    margin: .5rem auto;
}

/* Pagination section */

.pagination-container {
    width: fit-content;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.page-btn {
    background-color: #832c7b;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 50%;
}

.active {
    color: black;
    background-color: white;
    border: 1px solid black;
}

.page-btn:hover {
    transform: scale(0.8);
}

/* Footer code */

.footer {
    text-align: center;
    padding: 20px 0 0 0;
    width: 100%;
    margin-top: 2rem;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .footer-text {
    padding: .5rem 0;
    font-size: 16px;
    font-weight: bold;
    color: #970079; 
    margin-bottom: 10px; 
    border-bottom: 2px solid #9d077f;
    width: 50%;
  }

  /* loader code */

  .loader-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; 
  }
  
  .loader {
    border: 4px solid #f3f3f3; 
    border-top: 4px solid #832c7b; 
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  
/* Mobile devices (up to 600px) */
@media (max-width: 600px) {

    .heading {
        font-size: 2rem;
    }

    .input {
        width: 100%;
    }

    ul {
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .pokemon-image {
        width: 80px;
        height: 80px;
    }

    .pokemon-name {
        font-size: 1.2rem;
    }

    .pokemon-info {
        font-size: 0.9rem;
    }

    .poke-data {
        align-items: center;
        justify-content: space-between;
    }
}

/* Tablets (601px to 900px) */
@media (min-width: 601px) and (max-width: 900px) {

    .heading {
        font-size: 2.2rem;
    }

    .input {
        width: 100%;
        font-size: 1.1rem;
    }

    ul {
        display: flex;
        gap: 1rem;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }

    .pokemon-card {
        padding: 0.75rem;
        width: 300px;
    }

    .pokemon-image {
        width: 100px;
        height: 100px;
    }

    .pokemon-name {
        font-size: 1.1rem;
    }

    .pokemon-info {
        font-size: 1rem;
    }

    .pokemon-highlight > p {
        width: 50%;
    }
}
/* Laptops (901px to 1200px) */
@media (min-width: 901px) and (max-width: 1200px) {
    .container {
        width: 100%;
        padding: 0 2rem;
    }

    .heading {
        font-size: 2.4rem;
    }

    .input {
        width: 35rem;
        font-size: 1.2rem;
    }

    ul {
        display: flex;
        gap: 1rem;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }

    .pokemon-card {
        padding: 1rem;
        width: 285px;
    }

    .pokemon-image {
        width: 100px;
        height: 100px;
    }

    .pokemon-name {
        font-size: 1.2rem;
    }

    .pokemon-info {
        font-size: 1rem;
    }

    .poke-data {
        align-items: center;
        justify-content: space-between;
    }

    .pokemon-highlight > p {
        width: 50%;
    }
}
